{% extends "blog/base.html" %} 

 

{% block content %}  

 

{% load crispy_forms_tags %} 

 

<!--Register-->  

<div class="container py-5"> 

 <h1 style="color: white; font-weight: 700;">Register</h1> 
 <form method="POST" style="color: beige;"> 

{% csrf_token %} 

 {{ register_form|crispy }}

 <button class="btn btn-primary" type="submit">Register</button> 

</form> 
<br>
<p class="text-center" style="color: aquamarine;">If you already have an account, <a href="/login">login</a> instead.</p> 

</div> 

 

{% endblock %} 