{% block sidebar %} 

 

<style> 

 .card{ 

 box-shadow: 0 16px 48px #E3E7EB; 

 } 

 

</style> 
<!-- Sidebar Widgets Column --> 

<div class="col-md-4 float-right "> 

    <div class="card my-4"> 
    
     <h5 class="card-header">About Us</h5> 
    
 <div class="card-body"> 
    
     <p class="card-text"> This awesome blog is dedicated to the amazing TV show "HOW TO GET AWAY WITH MURDER". The show had six seasons that aired from September of 2014 to May of 2020.</p> 
    
     <a href="https://kinopoisk.ru/series/804876/" 
    
    class="btn btn-danger">Catch up!</a> 
    
    </div> 
    
    </div> 
    
    </div> 
    
     
    
    {% endblock sidebar %} 