{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
{% if user.is_authenticated %}
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Instruments</h5>
    <div class="card-body">
         
    <a href="{% url 'blog:post_new' %}" class="top-menu">
    {% include 'blog/includes/icons/file-earmark-plus.svg' %}
    </a>
    </div>
</div>
</div>
{% endif %}
{% endblock sidebar %}
